.lpost{
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.lpost::after{
  content: '';
  position: absolute;
  height: 0.2rem;
  width: 2.5rem;
  background-color: black;
  top: 115%;
  left:0.2%;
}